@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.text-ui {
  position: fixed;
  padding: 8px 12px;
  background-color: #141414cc;
  color: #c6c6c6;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;

  &.entering {
    animation: slideIn 0.5s forwards;
  }

  &.exiting {
    animation: slideOut 0.5s forwards;
  }

  &.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.center-left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.center-right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .textui-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .textui-bind {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 37px;
    border-radius: 3px;
    color: #f2f2f2;
    background-color: rgba(54, 156, 129, 0.381);
    border: 0.1vh solid #52938b;
    text-shadow: 0 0 5px #50bcaf40;
  }

  .textui-message-container {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
  }
}
